<div class="container" ng-show="authenticated">
  <div class="row">  <div class="col-md-6">
        <div class="page-header"><h1>Add an Event</h1></div>
            <form ng-submit="post()" enctype="multipart/form-data">
                <div class="form-group">
                    <input id="title" type="text" placeholder="Title" ng-model="newbook.title" class="form-control" />
                    </div> 
                <div class="form-group">
                    <input id="author" type="text" placeholder="Artist" ng-model="newbook.author" class="form-control"/>
                </div>
                <div class="form-group">    
                    <input id="releaseDate" type="text" placeholder="Event Date(dd/mm/yyyy)" ng-model="newbook.releaseDate" class="form-control"/>
                </div>
                <div class="form-group">
                    <input id="keywords" type="text" placeholder="keywords" ng-model="newbook.keywords" class="form-control"/>
                </div>
                <div class="form-group">
                    <input name="eventPic" type="file" ng-model="newbook.img" class="form-control"/>
                </div>
                <div class="form-group">
                    <button id="add" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div></div>

<div class="row">
    <div ng-repeat="book in books">
        <div class="col-md-4" style="background-color: #fff; border: solid 1px;">
            <div class="col-md-6">
                <img ng-if="book.coverImage" class="thumbnail" ng-src="{{book.coverImage}}"/>
            </div>
            <div class="col-md-6">		
        	    <ul class="list-unstyled list-group">
        	        <li ng-bind="book.title"></li>
        	        <li ng-bind="book.author"></li>
        	        <li ng-bind="book.releaseDate"></li>
        	        <li ng-bind="book.keywords"></li>
        	    </ul>
            </div>
        </div>
    </div>
</div>
</div>